/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only - 
The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    display: none;
    z-index: -1;
    text-indent: -9999px;
  }
  
/*  A big shout out to Andy Bell at https://andy-bell.co.uk/about/ 
    For his great article " A Modern CSS Reset " I recommend giving it a read at https://andy-bell.co.uk/a-modern-css-reset/ 
*/



/* MY CUSTOM CSS RULES BELOW */

:root {
  --color1: hsl(179 53% 50%);
  --color2: hsl(71, 73%, 54%);
  --color3: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Lexend Deca', sans-serif;
}

main {
  display: grid;
  min-height: 100vh;
	place-content : center;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "box-1" "box-2" "box-3";
  margin: 1.5rem;
}

/* All Boxes */
.box {
  padding: 1.5rem;
  color: var(--color3);
}

.box-1 {
  background-color: var(--color3);
  grid-area: box-1;
  border-radius: 8px 8px 0 0; 
}

.box-1 p {
  line-height: 1.7;
  color: hsl(218, 22%, 67%);
}

.box-1 h2,
.box-1 h3,
.box-1 p {
  margin-bottom: 1rem;
}

.box-2 {
  background-color: var(--color1);
  grid-area: box-2;
}

.box-2 h3 {
  margin-bottom: 1rem;
}

.box-2 p:nth-of-type(2) {
  line-height: 2;
}

.CTA-btn {
  display: block;
  text-align: center;
  background-color: var(--color2);
  color: var(--color3);
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 7px;
  margin-top: 1.9rem;
  padding: 0.5rem 0;
}

.CTA-btn:hover {
  opacity: 0.7;
}

.box-3 {
  background-color: hsl(179, 31%, 55%);
  grid-area: box-3;
  border-radius: 0 0 8px 8px; 
}

.box-1 h2 {
  color: var(--color1);
}

.box-1 h3 {
  color: var(--color2);
}

.box-3 ul {
  list-style-type: none;
  padding-left: 0;
}

.text-opacity {
  opacity: 0.65;
}

.dollar-text {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}


@media screen and (min-width: 600px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1fr;
    grid-template-areas: "box-1 box-1"
                         "box-2 box-3";
    margin:auto;
    max-width: 750px;
  }  

  .box {
    padding: 50px 50px 24px 50px;
  }

  .box-1 {
    padding-bottom: 0px; 
  }

  .box-1 p {
    width: 80%;
  }

  .box-2 {
    border-radius: 0 0 0 8px;
  }

  .box-3 {
    border-radius: 0 0 8px 0;
  }
}